<!DOCTYPE html>
<html lang="en" ng-app="FlickrController" ng-controller="FlickrLoader">
	<head>
		<title>{{title}} | Flickr &gt; AngularJS page</title>
		<link rel="stylesheet" type="text/css" href="css/global.css" />
		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script type="text/javascript" src="/js/controller.js"></script>
	</head>
	<body>
		{{> body}}
	</body>
</html>